<%- include("header") -%>
<body>
    <div id="carsdiv" class="container">
       <h1 class="text-center"> Admin Panel</h1>
       <div class="row d-flex justify-content-center">
           <form action="/editcars" method="POST">
                <button type="submit" class="btn btn-primary btn-block" style="padding:50px; margin-right: 10px;">Manage Cars </button> 
           </form>
           <form action="/edituser" method="POST">
            <button type="submit" class="btn btn-primary btn-block" style="padding:50px;">Manage Users </button> 
       </form>
    
      </div>   
    </div>
</body>
<%- include("footer")-%>