<%- include("header") -%>
<body>
    <div id="carsdiv" class="container">
       <h1 class="text-center"> Clerk Panel</h1>
       <div class="row d-flex justify-content-center">
           <form action="/calculate" method="POST">
            <label>Return date</label>
               <input type="date" name="returnDate" placeholder=""/><br>
               <label>Return Time</label> <input type="time" name="retuenTime" placeholder=""/> <br>
               
               <label>Audometer reading</label>
               <input type="tel"  name="reading" placeholder="Audometer reading" ><br>
               <label>confirmation Number</label>
               <input type="tel"  name="reading" placeholder="confirmationNo" ><br>
            
            <input type="submit" class="btn btn-primary btn-block"value="Final Cost">
           </form>

    
      </div>   
    </div>
</body>
<%- include("footer")-%>