<hr>
      <div >
         <div class="row d-flex justify-content-around" style="margin: 0; background-color: #17252A; padding: 20px;">
            <div class=" " id="verticalMenu">
               <h4 style="color:#3AAFA9;">Locations</h4>
               
               <a class="" href="/">Surrey</a>
               <a class="" href="/">Vancouver</a>
               <a class="" href="/">Richmond</a>
               <a class="" href="/">Langley</a>
            </div>
            <div class=" " id="verticalMenu">
               <h4 style="color:#3AAFA9;">Reservations</h4>
               <a class="" href="/reservations">Make Reservation</a>
               <a class="" href="/reservations">Cancel Reservation</a>
               
            </div>
            <div class=" " id="verticalMenu">
               <h4 style="color:#3AAFA9;">Tools</h4>
               <a class="" href="/admin">Admin</a>
               <a class="" href="/Clerk">Clerk</a>
               
            </div>
            
            <div class=" " id="verticalMenu">
               <h4 style="color:#3AAFA9;">My Account</h4>
             
               <a class="" href="/register">Register</a>
               <a class="" href="/login">SignIn</a>
               <a class="" href="/logout">Sign-Out</a>
            </div>
            <div class=" " id="verticalMenu">
               <h4 style="color:#3AAFA9;">Cantact Us</h4>
               <a class="" href="#">Call: +1 604xxxxxxx</a>
               <a class="" href="#">Email: abd@abcd.com</a>
               
            </div>
         </div>
         <div class="d-flex justify-content-around" style="margin: 0; background-color: #17252A; padding: 10px;" >
            <h4 style="color:#3AAFA9; font-size: 18px;">©EasyCarRentals.com</h4>
         </div>
      </div>
      <!-- jQuery library -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <!-- Popper JS -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
      <!-- Latest compiled JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
      <script src="js/index.js"></script>
      <script >
         

      </script>
   </body>
</html>
