<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Easy CarRental</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="style.css">
   </head>
   
   <body>
         
      <div class=" text-center" >
         <div style="background-color: #3AAFA9; padding-top: 40px; padding-bottom: 5px;">
            <h1 id="h1" >Easy Car Rentals</h1>
            <p style="color: #FEFFFF;">random text makes car renting easier</p>
         </div>
         <nav class="navbar navbar-expand-sm  navbar-dark d-flex  " style="background-color: #17252A;">
            <!-- Brand -->
            <a class="navbar-brand mr-auto " href="#"><span style=" font-style: bold;">EasyCarRental.com</span></a>
            <!-- Links -->
            <div>
               <ul class="navbar-nav ">
                  
                  <!-- Dropdown -->
                  <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                     Tools
                     </a>
                     <div class="dropdown-menu">
                        <a class="dropdown-item" href="/admin">Admin</a>
                        <a class="dropdown-item" href="/clerk">Clerk</a>
                        
                     </div>
                  </li>
                  <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                     <img class="" style="width: 22px; height: 22px;" src="icons/accountblue.png"  alt="logo">
                     My Account
                     </a>
                     <div class="dropdown-menu">
                        <h5 class="dropdown-header">General</h5>
                        <a class="dropdown-item" href="/reserve">Reservation</a>
                        <h5 class="dropdown-header">Account</h5>
                        <a class="dropdown-item " href="/login">SignIn</a>
                        <a class="dropdown-item " href="/logout">Sign Out</a>
                     </div>
                  </li>
               </ul>
            </div>
         </nav>
      </div>