<div >
    <div class="row d-flex justify-content-around" style="margin: 0; background-color: #17252A; padding: 20px;">
       <div class=" " id="verticalMenu">
          <h4 style="color:#3AAFA9;">Locations</h4>
          <a class="" href="#">All Locations</a>
          <a class="" href="#">Surrey</a>
          <a class="" href="#">Vancouver</a>
          <a class="" href="#">Delta</a>
          <a class="" href="#">Langley</a>
       </div>
       <div class=" " id="verticalMenu">
          <h4 style="color:#3AAFA9;">Vehicles</h4>
          <a class="" href="#">All Vehicles</a>
          <a class="" href="#">Cars</a>
          <a class="" href="#">Trucks</a>
          <a class="" href="#">SUVs</a>
          <a class="" href="#">Vans</a>
       </div>
       <div class=" " id="verticalMenu" ">
          <h4 style="color:#3AAFA9;">Car Companies</h4>
          <div style="display: inline-block;">
             <a class="" href="#">Ace </a>
             <a class="" href="#">Advantage</a>
             <a class="" href="#">Alamo</a>
             <a class="" href="#">Budget</a>
             <a class="" href="#">Dollar</a>
          </div>
          <div style="display: inline-block;">
             <a class="" href="#">Enterprise </a>
             <a class="" href="#">Hertz</a>
             <a class="" href="#">Thrifty</a>
          </div>
       </div>
       <div class=" " id="verticalMenu">
          <h4 style="color:#3AAFA9;">My Account</h4>
          <a class="" href="#">Bookings</a>
          <a class="" href="#">SignIn</a>
       </div>
       <div class=" " id="verticalMenu">
          <h4 style="color:#3AAFA9;">Cantact Us</h4>
          <a class="" href="#">Call: +1 604xxxxxxx</a>
          <a class="" href="#">Email: abd@abcd.com</a>
          <a class="" href="#">Send Feedback</a>
       </div>
    </div>
    <div class="d-flex justify-content-around" style="margin: 0; background-color: #17252A; padding: 10px;" >
       <h4 style="color:#3AAFA9; font-size: 18px;">©EasyCarRentals.com</h4>
    </div>
 </div>
 <!-- jQuery library -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <!-- Popper JS -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
 <!-- Latest compiled JavaScript -->
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
 <script src="js/index.js"></script>