<%- include("header") -%>
<body>
    <div class="login-form">
        <% if(status == true ){%>
            <h1>Logged in as <%= user%></h1>
            <% }else{%>
                <h1>Please login to use our service</h1>
            <%}%>

        
        
        <form action="login" method="POST">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="submit">
        </form>
    </div>
</body>
<%- include("footer")-%>